@import url("https://use.typekit.net/itz5neu.css");


@media only screen and (max-width: 768px){
    body{
        color: rgb(235, 15, 15);
        font-family: lato,sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}